<ion-header>
  <ion-navbar>
    <ion-title align="center">
      Tài khoản
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <form *ngIf="_login == false" [formGroup]="member" (ngSubmit)="login()" padding-left padding-right>
        <ion-list>
            
          <ion-item >
              <ion-label stacked>Số điện thoại</ion-label>
            <ion-input formControlName='phone' type="number" ></ion-input>
          </ion-item>
        
          <ion-item>
              <ion-label stacked>Mật khẩu</ion-label>
            <ion-input  formControlName='password' type="password"></ion-input>
          </ion-item>
        </ion-list>
        
        <button ion-button block color="secondary" [disabled]="!member.valid"  type ="submit" >Đăng nhập</button>
        
      </form>
      <div  *ngIf="_login == false" padding  >
        <hr>
        <button class="bnt_google" ion-button color="danger" block> Google</button>
        <button ion-button block> Facebook</button>
        <p class = "p_sginUP" ><button ion-button ion-btn clear  [navPush]="SginupPage" >  Đăng ký </button></p>
      </div>  

      <ion-card  *ngIf="_login == true && user">

          <ion-item>
            <ion-avatar item-start>
              <img src="assets/imgs/user.png">
            </ion-avatar>
            <h2>{{user.name}}</h2>
            <p>November 5, 1955</p>
          </ion-item>
        
          <!-- <img src="img/advance-card-bttf.png"> -->
              
          <ion-row>
            <ion-col>
              <button ion-button icon-start clear small>
                <ion-icon name="md-star"></ion-icon>
                <div> 12 Vinh danh</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-start clear small>
                <ion-icon name="text"></ion-icon>
                <div>4 Đánh giá</div>
              </button>
            </ion-col>
            <ion-col center text-center>
              <ion-note>
                11h 
              </ion-note>
            </ion-col>
          </ion-row>
        
        </ion-card>

  


  <ion-list *ngIf="_login == true">

    <ion-list-header>
      TÀI KHOẢN CÁ NHÂN
    </ion-list-header>

    <ion-item>
      <ion-icon name='contact' item-start></ion-icon>
      Thông tin cá nhân
     
    </ion-item>

    <ion-item>
      <ion-icon name='clock' item-start></ion-icon>
      Lịch sử đánh giá
    </ion-item>
    <ion-item (click)="logout()">
      <ion-icon  name='exit' item-start></ion-icon>
      Đăng xuất
      <!-- <ion-note item-end>Yes please</ion-note> -->
    </ion-item>

  </ion-list>
  <ion-list >
    <ion-list-header>
      HỖ TRỢ & CÀI ĐẶT
    </ion-list-header>

    <ion-item>
      Điều khoản
      <ion-icon name='list' item-start></ion-icon>
      <!-- <ion-note item-end>Crucio!</ion-note> -->
    </ion-item>

    <ion-item>
      <!-- <ion-toggle checked="true"></ion-toggle> -->
      <ion-label>
        Giới thiệu
      </ion-label>
      <ion-icon name='information-circle' item-start></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>