.toolbar-background {
    background-color: #1c4d30;
}
.toolbar-title { color: white; }
.back-button {
    color: white !important;
}
body,html{
    font-family: 'Montserrat', sans-serif;
}
ion-backdrop{
    opacity: 0 !important;
}
.loading-md .loading-wrapper{
        opacity: 1;
        -webkit-box-shadow : none;
        box-shadow: none;
        background: none;
}

// .tabs .tabbar {
//     background-color: #1c4d30;
// }
// .ion-md-star{
//     color: yellow !important;
// }

// .ion-md-star-half{
//     color: yellow !important;
// }