.toolbar-background {
    background-color: #1c4d30;
}
.toolbar-title { color: white; }
.back-button {
    color: white !important;
}
// .tabs .tabbar {
//     background-color: #1c4d30;
// }
// .ion-md-star{
//     color: yellow !important;
// }

// .ion-md-star-half{
//     color: yellow !important;
// }