@import "../../node_modules/ionic2-auto-complete/auto-complete";


.toolbar-background {
    background-color: #1c4d30;
}
.toolbar-title { color: white; }
.back-button {
    color: white !important;
}
body,html{
    font-family: 'Montserrat', sans-serif;
}
ion-backdrop{
    opacity: 0 !important;
}
.loading-md .loading-wrapper{
        opacity: 1;
        -webkit-box-shadow : none;
        box-shadow: none;
        background: none;
}
.color_button{
    color : green;
}
.back-button.show-back-button{
    position: absolute;
    z-index: 2;
}
.item-input .label-md, .labble_diachi{
    color : green;
}
