
<ion-header>

  <ion-navbar>
    <ion-title align="center">
      <img src="assets/imgs/logo.png" alt="" style="height: 35px;">
    </ion-title>
  </ion-navbar>
  <ion-searchbar #searchbar debounce = 800 [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="search($event)" (ionCancel)="onCancel($event)"
  placeholder="Bạn muốn tìm gì?" animated="true" autocomplete="true">
</ion-searchbar>
</ion-header>

<ion-content>
  <div class="label1">
    <p><ion-icon name="md-pin"></ion-icon> Địa điểm gần đây</p>
  </div>
  
  <h2 class="label1" *ngIf="arr_destinationAddress == 0">không tìm thấy</h2>

  <ion-list class="animate-ripple" *ngIf='arr_destinationAddress != 0'>
    <button ion-item *ngFor='let point of arr_destinationAddress' (click)="push_shop(point)">
      <ion-thumbnail item-start>
        <img [src]="point.point.nameshop ? 'assets/imgs/'+point.point.icon : ''">
      </ion-thumbnail>
      <h2>{{point.point.nameshop}}</h2>
      <p>{{point.point.address}}</p>
      <!-- <button ion-button clear item-end>View</button> -->
      <p>
        <ion-icon class="star_css" name="star"></ion-icon>
        <ion-icon class="star_css" name="star"></ion-icon>
        <ion-icon class="star_css" name="star"></ion-icon>
        <ion-icon class="star_css" name="star-half"></ion-icon>
        <ion-icon class="star_css" name="star-outline"></ion-icon>
      </p>
      <ion-note item-end>{{point.distance.text}} </ion-note>
    </button>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>